*,

*::before

*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 1%;
}

.dark{
    background-color: rgb(0, 0, 0);
}

.light{
    background-color: white;
}

.header {
    padding: 20px;
    border: solid 5px rgb(6, 29, 235);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header h1 {
    display: inline-block;
    font-size: 50px;
    color: rgb(6, 29, 235);
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 10px;
}

.back {
    background-color: rgb(10, 68, 116);
    color: rgb(13, 149, 240);
    font-size: 15px;
}

a:link {
    color:rgb(13, 149, 240);
    text-decoration: none;
}

a:visited {
    color:rgb(13, 149, 240);
    text-decoration: none;
}

.blogPage {
    border: solid rgb(6, 29, 235);
    color: rgb(13, 149, 240);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    padding-left: 2rem;
}

footer {
    padding: 35px;
    border: solid 5px rgb(6, 29, 235);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(13, 149, 240);
}

p #produced h3 {
    text-align: center;
}